{% extends 'base.html' %}
{%load thumbnail%}
{% block title %}
  {{ user.get_full_name }} профайл пользователя
{% endblock %}
{% block content %}
  <h1>Все посты пользователя {{ user.get_full_name }} </h1>
  <h3>Всего постов: {{ posts_count }} </h3>
  {% if following %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' user.username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' username.username %}" role="button"
      >
        Подписаться
      </a>
   {% endif %}
  {% for post in page_obj %}
    <article>
    <ul>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }} 
      </li>
    </ul>
    <article class="col-12 col-md-9">
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
    <p>{{ post.text|linebreaksbr }}</p>
    </article>
    <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
    </article>
    {% if post.group %}      
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% endif %}      
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
